#btn__inicio{
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #A2A2A2;
    border: 2px solid #A2A2A2;
    border-radius: 0%;
    font-size: 14px;
}
#btn__registro{
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    border: 2px solid #A2A2A2;
    border-radius: 0%;
    font-size: 14px;
}